<!--<app-toolbar></app-toolbar>-->

<!--
rounter-outlet is linked to
    children: [
      { path: '', component: MainContentComponent }
    ]
in D:\react\angularmaterial2\src\app\contactmanager\contactmanager-routing.module.ts
-->
<!--<router-outlet></router-outlet>-->


<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10"
               [opened]="!isScreenSmall()"
               [mode]="isScreenSmall() ? 'over' : 'side'">
    <mat-toolbar color="primary">
      Contacts
    </mat-toolbar>
    <mat-nav-list>
      <!-- If you links to an observable, you will do it pipe it to async -->
      <mat-list-item *ngFor="let user of users | async">
        <a matLine href="#">{{ user.name }}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
